@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*
{
    box-sizing: border-box;
}
body {
    background-color: rgb(203, 194, 184);
    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    color: rgb(65, 63, 62);
}

#logo {
    color: rgb(48, 46, 45);
    min-width: 10rem;
}
.logo-subtext {
    font-size:0.82em;
    color: rgb(164, 158, 154);
    display: block;
    margin-bottom: 0.8rem;
    transform: translateY(-0.1rem);
    text-align: left;
}

@media only screen and (min-width: 768px) {
    #logo {
        color: rgb(48, 46, 45);
        max-width: 25rem;
    }
    .logo-subtext {
        font-size:0.86em;
        color: rgb(130, 124, 120);
        margin-bottom: 0.75rem;
        transform: translateY(-0.9rem);
    }
}

/* Navbar */

.navbar {
    background-color: rgb(237, 229, 220);

    position: absolute;
    top: 0;
    width: 100%;
    height: 4.5rem;
    padding-top: 0.3vh;
    padding-left: 2rem;
    padding-right: 0.3rem;
    padding-bottom: 0.3vh;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;

    z-index: 100;
}

@media only screen and (min-width: 768px) {
    .navbar {
        position: fixed;
        left: 0;
        width: 6rem;
        height: 100vh;
        padding-top: 21vh;
        padding-left: 0.3rem;
        padding-right: 0.3rem;

        flex-direction: column;
        justify-content: flex-start;
    }
}

    .navbar .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;

        border-radius: 0.35rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 400ms;
    }
    
    @media only screen and (min-width: 768px) {
        .navbar .item {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }

    .navbar .item.selected {
        background-color: rgb(221, 213, 204);
    }
    .navbar .item > i {
        transform: translateY(0.6rem);
    }
    .navbar .item > span {
        font-size: 0.8em;
        font-weight: 600;
        padding-top: 1.5rem;
    }
    .navbar .item:hover:not(.selected) {
        cursor: pointer;
        /*background-color: rgb(221, 213, 204);*/
        color: rgb(119, 115, 113);
    }


/* Content */

body > .content { 
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 5rem;
    padding-bottom: 1.5vh;
}

@media only screen and (min-width: 768px) {
    body > .content { 
        padding-left: calc(5.5rem + 2.8vw);
        padding-right: 1.5vw;
        padding-top: 10vh;
        padding-bottom: 2.5vh;
    }
}

.content > .flex {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.divider {
    flex-grow: 1;

}

@media only screen and (min-width: 768px) {
    .content > .flex {
        flex-direction: row;
        align-items: flex-start;
    }
}

/* Card */


.card-list {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card {
    background-color: rgb(237, 229, 220);

    min-height: 4.5rem;
    border-radius: 0.35rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 400ms;
}
@media only screen and (min-width: 768px) {
    .card {
        max-width: 38rem;
    }
}
.card * {
    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 400ms;
}
.card.expand-content {
    max-height: 90vh;
    overflow: hidden;
}
    .card .hidden {
        max-height: 0;
        overflow: hidden;
        display: none;
    }
.card-faded {
    background-color: rgb(221, 213, 204);
    opacity: 0.85;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 4.5rem;
    cursor: pointer;
}

.card-icon {
    margin-left: 1.2rem;
    margin-right: 0.65rem;
}
    .card-icon > div {
        color:rgb(237, 229, 220);
        border-radius: 1.5rem;

        width:1.5rem;
        height:1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-icon > div > div {
        font-family: 'Frank Ruhl Libre';
    }

.card-title {
    font-weight: 600;

    margin-top:0;
    margin-bottom: 0.4rem;
}
.card-subtitle {
    font-size:0.85em;
    color: rgb(119, 115, 113);

    margin-top: 0;
    margin-bottom: 0;
}
.card-separator {
    flex-grow: 1;
}

.card-image {
    justify-self: end;
    min-width: 4.5rem;
    height: 4.5rem;

    opacity: 0.9;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
@media only screen and (min-width: 768px) {
    .card-image {
        min-width: 5rem;
        width: 5rem;
    }
}

    .card.expand-content .card-image {
        min-width: 0rem;
        width: 0rem;
        overflow: hidden;
        opacity: 0.1;
        border-bottom-right-radius: 0rem;
    }

.card-large-image {
    width: 100%;
    height: 10rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    .card:not(.expand-content) .card-large-image {
        height: 0rem;
        overflow: hidden;
        opacity: 0;
    }

.card-content{
    color: rgb(92, 89, 88);
}
    .card:not(.expand-content) .card-content {
        height: 0rem;
        overflow: hidden;
    }
.card-content > p {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
    font-family: 'Lato', sans-serif;
}

.card-content .card-details {
    display: flex;
    gap: 3rem;
    margin: 1.5rem;
}
    .card-content .card-details > div {
        display: flex;
        gap: 1rem;
        align-items: center;
    }


.card-content .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0.8rem;
    border: 0;
    gap: 0.5rem;
}
.card-content .button {
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    background-color: #4c4980;
    color:rgb(237, 229, 220);
    cursor: pointer;
}
    .card-content .button:hover {
        background-color: #3b386d;
    }
    .card-content .button.disabled {
        border: 0.1rem solid #4c4980;
        color: #4c4980;
        background-color: rgb(237, 229, 220);
        cursor: not-allowed;
    }

/* Progression bar */

.progression-bar {
    background-color: rgb(180, 173, 165);
    border-radius: 0.35rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .progression-bar {
        max-width: 38rem;
    }
}
.progression-bar .progression {
    background-color: #4b8049;
    border-radius: 0.35rem;
    height: 100%;
    transition: width 1s;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 1.8rem;
    color:rgb(237, 229, 220);
}

/* Achievements */

.achievements {
    padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .achievements {
        padding-left: 2.5vw;
        padding-top: 0;
    }
}

.achievement-box {
    background-color: rgb(221, 213, 204);
    border-radius: 0.35rem;
    padding: 0.6rem;
}
@media only screen and (min-width: 768px) and (max-width: 960px)  {
    .achievement-box {
        max-width: 9.7rem;
    }
}

.achievement-box > .achievement-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
@media only screen and (min-width: 768px) {
    .achievement-box > .achievement-list {
        display: grid;
        grid-template-columns: repeat(2, auto); /* 2 items per row */
        gap: 0.5rem;
    }
}
@media only screen and (min-width: 960px) {
    .achievement-box > .achievement-list {
        grid-template-columns: repeat(3, auto); /* 3 items per row */
        max-width:100%;
    }
}
@media only screen and (min-width: 1150px) {
    .achievement-box > .achievement-list {
        display: grid;
        grid-template-columns: repeat(5, auto); /* 5 items per row */
        gap: 0.5rem;
    }
}

.achievement-box > .achievement-subtext {
    padding-top: 0.5rem;
}

    .achievements .item {
        width: 4rem;
        height: 4.5rem;
        border-radius: 0.35rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        overflow: hidden;

        color: rgb(221, 213, 204);
    }

    .achievements .item > i {
        transform: translateY(0.6rem);
    }
    .achievements .item > span {
        font-size: 0.8em;
        font-weight: 600;
        max-width: 100%;
        padding-top: 1.5rem;
        text-overflow: ellipsis;
        text-align: center;
    }

/* Flex */

.flex {
    display: flex;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

/* Font style */

.lato {
    font-family: 'Lato', sans-serif;
}

.header {
    font-size: 1.65em;
}
.tiny {
    font-size: 0.6em;
}
.small {
    font-size: 0.8em;
}
.large {
    font-size: 1.2em;
}

.uppercase {
    text-transform: uppercase;
}
.faded {
    color: rgb(119, 115, 113);
}
.center {
    text-align: center;
}

.thin {
    font-weight: 100;
    font-style: normal;
}
.light {
    font-weight: 300;
    font-style: normal;
}
.regular {
    font-weight: 400;
    font-style: normal;
}
.semi-bold {
    font-weight: 600;
    font-style: normal;
}
.bold {
    font-weight: 700;
    font-style: normal;
}
.black {
    font-weight: 900;
    font-style: normal;
}
.thin-italic {
    font-weight: 100;
    font-style: italic;
}
.italic {
    font-weight: 300;
    font-style: italic;
}
.regular-italic {
    font-weight: 400;
    font-style: italic;
}
.bold-italic {
    font-weight: 700;
    font-style: italic;
}
.black-italic {
    font-weight: 900;
    font-style: italic;
}

.indent-tiny {
    padding-left: 0.2rem;
}

.no-padding-top {
    padding-top: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}

/* Adjust spacing between format */
@media only screen and (max-width: 768px) {
    .p-header-adjust {
        margin-top: 0.5rem;
    }    
    .p-header-adjust-large {
        margin-top: 1.5rem;
    }
}
@media only screen and (min-width: 768px) {
    .p-header-adjust {
        margin-top: 1rem;
    }    
    .p-header-adjust-large {
        margin-top: 3rem;
    }
}

/* Utility */

@media only screen and (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}
